*.pyc
.idea/
auto_tests/protractor/node_modules
auto_tests/protractor/allure-results/
auto_tests/protractor/fixtures/
**/*.log
.sonar/
**/target/
**/*.iml
*.iml
**/*.~*
**/~*
**/*logs/
*.iml
*.log
*.dll
lib/*
out/*

